:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep .p-chart {
    height: 100%;
    width: 100%;
    display: block;
  }

  ::ng-deep .p-chart > div {
    height: 100% !important;
    width: 100% !important;
  }
}


