<p-card>
  <p-toolbar>

    <ng-template #start>
      <div class="nav-items">
        <div class="logo">
          <img style="width: 48px" src="./assets/logo.png" alt="ShopCo" class="logo-img" />
        </div>
        <a pButton pRipple [routerLink]="'/dashboard'" routerLinkActive="active" pTooltip="Dashboard"
           tooltipPosition="right" class="nav-btn">
          <i class="pi pi-chart-bar"></i>
        </a>
        <a pButton pRipple [routerLink]="'/page-product'" routerLinkActive="active" pTooltip="List of products"
           tooltipPosition="right" class="nav-btn">
          <i class="pi pi-box"></i>
        </a>
<!--        <a pButton pRipple [routerLink]="'/page-user'" routerLinkActive="active" pTooltip="List of users"-->
<!--           tooltipPosition="right" class="nav-btn">-->
<!--          <i class="pi pi-users"></i>-->
<!--        </a>-->
        <a pButton pRipple [routerLink]="'/page-admin'" routerLinkActive="active" pTooltip="List of administrators"
           tooltipPosition="right" class="nav-btn">
          <i class="pi pi-id-card"></i>
        </a>
      </div>
    </ng-template>

    <ng-template #end>
      <div class="nav-items">
<!--        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>-->
      </div>
    </ng-template>

  </p-toolbar>
</p-card>
