<div class="table-container">
  <h2 class="title">List of products</h2>
  <p-divider/>
  <app-products-data-table [totalRecords]="repository.totalRecords()"
                           [selectedRows]="repository.selectedRows()"
                           [allSelected]="repository.allSelected()"
                           [limit]="repository.pagination().limit"
                           [page]="repository.pagination().page"
                           [loading]="repository.loading()"
                           [columns]="ProductTableColumns"
                           [dataList]="data()"

                           (toggleRowSelection)="handleToggleRowSelection($event)"
                           (toggleAllRows)="handleToggleAllRows($event)"
                           (createNewProduct)="handleCreateProduct()"
                           (pageSetting)="handlePageSetting($event)"
                           (product)="handleEditProduct($event)"
                           (deleteProduct)="handleDelete()"
  />
</div>
