<p-divider/>
<app-table-product [totalRecords]="repository.totalRecords()"
                   [selectedRows]="repository.selectedRows()"
                   [allSelected]="repository.allSelected()"
                   [limit]="repository.pagination().limit"
                   [page]="repository.pagination().page"
                   [loading]="repository.loading()"
                   [columns]="ProductTableColumns"
                   [dataList]="data()"

                   (toggleRowSelection)="handleToggleRowSelection($event)"
                   (toggleAllRows)="handleToggleAllRows($event)"
                   (createNewProduct)="handleCreateProduct()"
                   (pageSetting)="handlePageSetting($event)"
                   (selectCategory)="handleCategory($event)"
                   (selectPetType)="handlePetType($event)"
                   (product)="handleEditProduct($event)"
                   (deleteProduct)="handleDelete()"
/>

