<div>
  <div class="flex lg:justify-content-between align-items-center items-center gap-6 mb-3">
    <label for="username" class="font-semibold w-24 text-right">Username</label>
    <input pInputText [(ngModel)]="userData.username" id="username" class="w-full max-w-15rem" autocomplete="off"/>
  </div>

  <div class="flex lg:justify-content-between align-items-center items-center gap-6 mb-3">
    <label for="password" class="font-semibold w-24 text-right">Password</label>
    <p-password id="password" class="w-full max-w-15rem" [(ngModel)]="userData.password" [toggleMask]="true" />
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" class="w-24" (click)="closeDialog()"/>
    <p-button label="Save" severity="primary" class="w-24" (click)="submitForm()"/>
  </div>
</div>
