<p-table [ngStyle]="{'width': '100%', 'height': 'calc(100% - 120px)', 'display': 'block'}"
         [columns]="selectedColumnsState()"
         [loading]="loading()"
         [value]="dataList()"
         [selection]="selectedRows()"
         stripedRows
         [scrollable]="true"
         scrollHeight="flex"
         (onPage)="onPageChange($event)"
>

  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="filter">
        <p-multiSelect [ngModel]="selectedColumnsState()"
                       [style]="{'min-width': '250px'}"
                       [options]="columns()"

                       selectedItemsLabel="{0} columns selected"
                       placeholder="Choose Columns"
                       optionLabel="name"
                       size="small"

                       (onChange)="onSelectChange($event)"
        />

        <p-dropdown [style]="{'min-width': '200px', 'height': '33px', 'font-size': '0.875rem', 'display': 'flex', 'align-items': 'center'}"
                    [options]="categoryOptions"
                    [ngModel]="'all'"

                    optionValue="value"
                    optionLabel="label"
                    placeholder="Selected category"

                    (onChange)="onSelectCategoriesChange($event)"
        />

        <p-dropdown [style]="{'min-width': '200px', 'height': '33px', 'font-size': '0.875rem', 'display': 'flex', 'align-items': 'center'}"
                    [options]="petTypeOptions"
                    [ngModel]="'all'"

                    optionValue="value"
                    optionLabel="label"
                    placeholder="Selected pet type"

                    (onChange)="onSelectPetTypeChange($event)"
        />
      </div>

      <div class="actions">
        @if (selectedRows().length) {
          <p-button severity="danger" label="Delete" icon="pi pi-trash" size="small" (onClick)="removeProduct()"/>
        }

        <p-button class="create-button" label="New Product" icon="pi pi-plus" size="small" [disabled]="selectedRows().length != 0" (onClick)="newProduct()"/>
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        <p-checkbox [binary]="true"
                    [ngModel]="allSelected()"
                    [disabled]="!dataList().length"
                    (ngModelChange)="toggleAllRowsHandler($event)">
        </p-checkbox>
      </th>
      @for (col of columns; track $index) {
        <th>{{ col.name }}</th>
      }
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        <p-checkbox [binary]="true"
                    [ngModel]="selectedRows().includes(rowData)"
                    (ngModelChange)="toggleRowSelectionHandler($event, rowData)">
        </p-checkbox>
      </td>
      @for (col of columns; track $index) {
        <td class="no-wrap">
          @if (col.field === 'productImage') {
            <img [src]="rowData[col.field]" class="image"/>
          } @else if (col.field === 'productPrice') {
            <td>{{ rowData[col.field] | currency: 'USD' }}</td>
          } @else if (col.field === 'productReviews') {
            <td>
              <p-rating [ngModel]="rowData[col.field]" [readonly]="true"/>
            </td>
          } @else if (col.field === 'productStatus') {
            <td>
              <p-tag [severity]="statusSeverity(rowData[col.field])" [value]="rowData[col.field]"/>
            </td>
          } @else {
            {{ rowData[col.field] }}
          }
        </td>
      }
      <td>
        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (onClick)="productEdit(rowData)"/>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100" class="text-center">No Data</td>
    </tr>
  </ng-template>
</p-table>

<p-paginator [rowsPerPageOptions]="[5, 10, 15, 20, 30]"
             [totalRecords]="totalRecords()"
             [first]="page() * limit()"
             [rows]="limit()"

             (onPageChange)="onPageChange($event)"
/>
