<p-card>
  <div class="dashboard-header">
    <div class="dashboard-header__intro">
      <p class="info">Overview</p>
      <p class="title">Welcome to ShopCo admin panel</p>
    </div>
  </div>

  <div class="dashboard-layout">
    <div class="dashboard-layout__row border">
      <app-chart-bar class="dashboard-layout__chart"></app-chart-bar>
    </div>

    <div class="dashboard-layout__row dashboard-layout__row--horizontal">
      <div class="dashboard-layout__cell dashboard-layout__cell border">
        <app-chart-pie class="dashboard-layout__chart"></app-chart-pie>
      </div>
      <div class="dashboard-layout__cell dashboard-layout__cell border">
        <app-chart-pie-2 class="dashboard-layout__chart"></app-chart-pie-2>
      </div>
    </div>
  </div>
</p-card>
