<p-table [ngStyle]="{'width': '100%', 'height': 'calc(100% - 120px)', 'display': 'block'}"
         [columns]="selectedColumnsState()"
         [loading]="loading()"
         [value]="dataList()"
         stripedRows
         [scrollable]="true"
         scrollHeight="flex"
         (onPage)="onPageChange($event)"
>

  <ng-template pTemplate="caption">
    <div class="caption">

      <p-multiSelect [ngModel]="selectedColumnsState()"
                     [style]="{'min-width': '250px'}"
                     [options]="columns()"

                     selectedItemsLabel="{0} columns selected"
                     placeholder="Choose Columns"
                     optionLabel="name"
                     size="small"

                     (onChange)="onSelectChange($event)"
      />

      <p-button class="create-button"
                label="New Product"
                icon="pi pi-plus"
                size="small"

                (onClick)="newProduct()"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track $index) {
        <th>{{ col.name }}</th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      @for (col of columns; track $index) {
        <td class="no-wrap">
          @if (col.field === 'productImage') {
            <img [src]="rowData[col.field]" class="image"/>
          } @else if (col.field === 'productPrice') {
            <td>{{ rowData[col.field] | currency: 'USD' }}</td>
          } @else if (col.field === 'productReviews') {
            <td><p-rating [ngModel]="rowData[col.field]" [readonly]="true" /></td>
          } @else if (col.field === 'productStatus') {
            <td><p-tag [severity]="statusSeverity(rowData[col.field])" [value]="rowData[col.field]"/></td>
          }
          @else {
            {{ rowData[col.field] }}
          }
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100" class="text-center">No Data</td>
    </tr>
  </ng-template>
</p-table>

<p-paginator [rowsPerPageOptions]="[5, 10, 15, 20, 30]"
             [totalRecords]="totalRecords()"
             [first]="page() * limit()"
             [rows]="limit()"

             (onPageChange)="onPageChange($event)"
/>
