<div class="table-container">
  <h2 class="title">List of administrators</h2>
  <p-divider />
  <app-admin-data-table [totalRecords]="repository.totalRecords()"
             [limit]="repository.pagination().limit"
             [page]="repository.pagination().page"
             [dataList]="repository.adminList()"
             [loading]="repository.loading()"
             [columns]="AdminTableColumns"

             (pageSetting)="handlePageSetting($event)"
             (removeAdmin)="handleRemoveAdmin($event)"
             (selectRole)="handleSelectRole($event)"
             (createNewAdmin)="handleCreateAdmin()"
  />
</div>

