<form [formGroup]="form" class="form-product">
  <div class="preview-container">
    @if (!preview) {
      <p-fileUpload (uploadHandler)="uploadImage($event)"
                    chooseLabel="Upload Image"
                    [customUpload]="true"
                    accept="image/*"
                    [auto]="true"
                    mode="basic"
                    name="image"
      ></p-fileUpload>
    }

    @if (preview) {
      <div class="preview">
        <img [src]="preview" alt="Preview"/>
        <div>
          <p-button icon="pi pi-times" label="Remove Image" severity="danger" (click)="removeImage()"/>
        </div>
      </div>
    }
  </div>

  <div class="field-container">
    <div class="field">
      <label for="title">Title</label>
      <input pInputText id="title" formControlName="title" autofocus/>
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea pTextarea id="description" rows="5" cols="30" formControlName="description" style="resize: none"></textarea>
    </div>

    <div class="field">
      <label for="inventoryStatus">Inventory status</label>
      <p-dropdown id="inventoryStatus" formControlName="status" [options]="statuses" optionValue="value"
                  optionLabel="label"
                  placeholder="Select a status"/>
    </div>

    <div class="field-group">
      <div class="field">
        <label for="category">Category</label>
        <p-dropdown id="category" formControlName="category" [options]="categories" optionValue="value"
                    optionLabel="label"
                    placeholder="Select a Category"/>
      </div>

      <div class="field">
        <label for="petType">Pet type</label>
        <p-dropdown id="petType" formControlName="petType" [options]="petType" optionValue="value"
                    optionLabel="label"
                    placeholder="Select a pet type"/>
      </div>
    </div>



    <div class="field">
      <label for="price">Price</label>
      <p-inputNumber id="price" formControlName="price" mode="currency" currency="USD" locale="en-US"/>
    </div>

    <div class="field">
      <label for="quantity">Quantity</label>
      <p-inputNumber formControlName="quantity" id="quantity"/>
    </div>
  </div>
</form>

<div class="flex justify-end justify-content-end gap-2 mt-4">
  <p-button label="Cancel" icon="pi pi-times" text size="small" (onClick)="onCancel()"/>
  <p-button [disabled]="form.invalid" icon="pi pi-check" type="submit" size="small" label="Save" (onClick)="onSave()"/>
</div>

